body {
    background-color: #181a1b;
    color: #e8e6e3;
}

.center {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-heading {
    font-size: 2em;
    font-family: sans-serif;
    font-weight: 200;
}

@media screen and (max-aspect-ratio: 13/20) {
    body {
        width: 97vw;
        height: 95vh;
    }

    .center {
        flex-direction: row;
        gap: 0.2em;
    }

    .heading-wrapper {
        height: 80%;
    }

    .heading {
        height: 100%;
    }

    .sub-heading {
        height: 80%;

        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
}

@media screen and (min-aspect-ratio: 13/20) {
    body {
        width: 99vw;
        height: 98vh;
    }

    .center {
        height: 90%;

        flex-direction: column;
        gap: 4em;
    }

    .heading-wrapper {
        width: 40%;
    }

    .heading {
        width: 100%;
    }
}

@font-face {
    font-family: "Noto Sans JP Subset";
    src: url("noto-sans-jp-subset.ttf");
}

.test-local-font {
    font-family: "Noto Sans JP Subset";
}
